{% extends "padre.html" %}

{% load static %}
<!-- End Nav
================================================== -->

<!-- Begin Site Title
================================================== -->
{% block descripcion %}
<div class="container">
	<div class="mainheading">
		<!-- TODO: bloque variable -->
		<h1 class="sitetitle">Edit profile</h1>
		<p class="lead">
			 
		</p>
	</div>
	{% endblock %}
		<!-- TODO: bloque variable -->
<!-- End Site Title
================================================== -->

	<!-- Begin Featured
	================================================== -->
	{% block mensaje %}	
	<section class="featured-posts">
	<div class="section-title">
		<h2><span>Editando el perfil de {{ nombreusuario }}</span></h2>
	</div>
	{% endblock %}
	{% block mensajeria %}
	<form action="{% url 'editProfile'  %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

		<table>
				
			{{ form.as_table }}
				
		</table>
				
		<input type="submit" value="Modificar Perfil">
				
				
		</form>
		{% endblock %}
		
	<!-- Begin Footer
	================================================== -->

	<!-- End Footer
	================================================== -->

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="static/assets/js/jquery.min.js"></script> -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<!-- <script src="static/assets/js/bootstrap.min.js"></script> -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- <script src="static/assets/js/ie10-viewport-bug-workaround.js"></script> -->
<script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>
