{% extends "padre.html" %}

{% load static %}

<!-- Begin Nav
================================================== -->
<!-- End Nav
================================================== -->

<!-- Begin Site Title
================================================== -->
{% block descripcion %}
<div class="container">
	<div class="mainheading">
		<!-- TODO: bloque variable -->
		<h1 class="sitetitle">Acerca de mí</h1>
		<p class="lead">
			 
		</p>
	</div>
{% endblock %}
		<!-- TODO: bloque variable -->
<!-- End Site Title
================================================== -->
{% block entradas %}	
	<!-- Begin Featured
	================================================== -->


	<div class="card">
		<div class="row">
			<div class="col-md-5 wrapthumbnail">
				<a href="https://www.linkedin.com/in/leandro-montesoro-8a141596/">
					<div class="thumbnail" style="background-image:url(	'{% static 'assets/img/demopic/linkedin_perfil.jpg' %}'	);">
					
					</div>
				</a>
			</div>
			<div class="col-md-7">
				<div class="card-block">
					<h2 class="card-title"><a href="">Leandro Montesoro</a></h2>
					<h4 class="card-text">28 años - DevOps<br>Realicé es te curso con la finalidad de ampliar mis conocimientos en programacion. La web es sobre un blog de recetas, ya que como buen argentino me gusta comer pero sobre todo agasajar con comida!</h4>
					
					
					<div class="metafooter">
						<div class="wrapfooter">
							<span class="meta-footer-thumb">
							<a href="https://www.linkedin.com/in/leandro-montesoro-8a141596/"><img class="author-thumb" src="{% static 'assets/img/demopic/linkedin_icon.png' %}" alt="Sal"></a>
							</span>
							<a href="https://github.com/leanmontesoro?tab=repositories"><img class="author-thumb" src="{% static 'assets/img/demopic/github_icon.png' %}" alt="Sal"></a>
						</span>
					</span>
					<a href="https://www.facebook.com/leanmontesoro/"><img class="author-thumb" src="{% static 'assets/img/demopic/facebook_icon.png' %}" alt="Sal"></a>
				</span>
				

							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="static/assets/js/jquery.min.js"></script> -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<!-- <script src="static/assets/js/bootstrap.min.js"></script> -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- <script src="static/assets/js/ie10-viewport-bug-workaround.js"></script> -->
<script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>
