{% extends "padre.html" %}

{% load static %}

{% block useravatar %}
<li class="nav-item">							
	<img src= "{{ imagen }}" class="img" alt="">
	<p> {{ user.username }} </p>
</li>
	{% endblock %}

{% block descripcion %}

<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">{{ titulo }} </h1>
		<p class="lead">
			  {{ descripcion }}
		</p>
	</div>

{% endblock %}



{% if entradas %}

	{% block entradas_delete %}

	<ul>
		{% for entrada in entradas %}
		<form action="{% url 'deleteEntradas' entrada.id %}" method="POST"> {% csrf_token %}
        <li>{{entrada.titulo}}</li> 
		<input type="submit" value="Eliminar" >
        <br>
		{% endfor %}
	</ul>
	{% endblock %}
{% else %}

	{% block mensaje %}		
	<div class="section-title">
		<h2><span>Su usuario no posee entradas para borrar</span></h2>
	</div>
	{% endblock %}	



{% endif %}