{% extends "padre.html" %}

{% load static %}

{% block useravatar %}
<li class="nav-item">							
	<img src= "{{ imagen }}" class="img" alt="">
	<p> {{ user.username }} </p>
</li>
	{% endblock %}

{% block descripcion %}

<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">{{ titulo }} </h1>
		<p class="lead">
			  {{ descripcion }}
		</p>
	</div>

{% endblock %}

{% block mensaje %}
	<div class="section-title">
		<h2><span>{{ mensaje }}</span></h2>
	</div> 

{% endblock %}

{% if entradas %}

	{% block entradas_delete %}

	<ul>
		{% for entrada in entradas %}
		<!-- <form action="{% url 'editEntrada' entrada.id %}" method="POST"> {% csrf_token %} -->
        <li>Titulo: {{entrada.titulo}}</li>
		<li>Subtitulo: {{entrada.subtitulo}}</li>
		<li>Cuerpo: {{ entrada.cuerpo | safe }}</li>
		<li>Autor: {{entrada.autor}}</li>
		<li>Fecha: {{entrada.fecha}}</li> 
		<li>Resume: {{entrada.resume}}</li>
		<li>Tiempo de lectura: {{entrada.read_time}}</li>
		<!-- <li>{{entrada.imagen}}</li> -->
		<!-- <input type="submit" value="Editar" > -->
        <a class="btn btn-success" href="{% url 'editEntrada' entrada.id %}">Editar</a>
		{% endfor %}
	</ul>
	{% endblock %}
{% else %}

	<p> NO HAY ENTRADAS </p>
{% endif %}