<!DOCTYPE html>
<html lang="en">
<head>
	
	{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{% static 'assets/img/logo3.jpg' %}">
<!-- <title>Mediumish - A Medium style template by WowThemes.net</title> -->
<!-- Bootstrap core CSS -->
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{% static 'assets/css/mediumish.css' %}" rel="stylesheet">
<style>
	.img{
		margin-top: 14px;
		margin-left: 14px;
		width: 30px;
		height: 30px;

	}
</style>


</head>
<body>

<!-- Begin Nav
================================================== -->
<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="container">
	<!-- Begin Logo -->
	<a class="navbar-brand" href="{% url 'inicio' %}">
	<img src="{% static 'assets/img/logo3.jpg' %}" alt="logo">
	</a>
	<!-- End Logo -->
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<!-- Begin Menu -->
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
			<a class="nav-link" href="{% url 'inicio' %}">Home <span class="sr-only">(current)</span></a>
			</li>
			{% if user.is_authenticated %}	
			<li class="nav-item">
				<a class="nav-link" href="{% url 'homeEditEntradas' %}">Editar Entradas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'homeDeleteEntradas' %}">Borrar Entradas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'homeMensajes' %}">Mensajeria</a>
						</li>

			{% endif %}

			{% if user.is_authenticated %}				
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %} ">Logout</a>
				
				</li>
				
				<li class="nav-item">							
					<a href= "{% url 'editProfile' %}"> 
					<img src= "{{ avatar }}" class="img" alt="">
					</a>
					<a href="{% url 'editProfile' %}"> 
						<p> {{ user.username }} </p> 
					</a>
					
				</li>
				
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'login' %} ">Login</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="{% url 'register' %} ">SignUP</a>
					</li>
		
			{% endif %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'about' %}">About me</a>
				</li>
		</ul>

	</div>
</div>
</nav>
<!-- End Nav
================================================== -->

<!-- Begin Site Title
================================================== -->
{% block descripcion %}
<!-- <div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">Titulo del blog</h1>
		<p class="lead">
			  descripción del blog
		</p>
	</div> -->
{% endblock %}
<!-- End Site Title
================================================== -->

	<!-- Begin Featured
	================================================== -->
	<section class="featured-posts">
{% block mensaje %}		
	<!-- <div class="section-title">
		<h2><span>{{ mensaje }}</span></h2>
	</div> -->
{% endblock %}

{% block entradas_delete %}		

{% endblock %}	

{% block mensajeria %}

{% endblock %}	
{% block body %}		

{% endblock %}	
	<div class="card-columns listfeaturedtag">
{% block entradas %}		

{% endblock %}	
		<!-- end post -->

	</div>
	</section>
	<!-- End Featured
	
	================================================== -->

	<!-- Begin Footer
	================================================== -->
	<div class="footer">
		<p class="pull-left">
			 Copyright &copy; 2022 Argentina Campeón
		</p>

		<div class="clearfix">
		</div>
	</div>
	<!-- End Footer
	================================================== -->

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>
