{% extends "padre.html" %}

{% load static %}


<!-- End Nav
================================================== -->

<!-- Begin Site Title
================================================== -->
{% block descripcion %}
<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">SignUp</h1>
		<p class="lead">
			 Formulario de registro
		</p>
	</div>
	{% endblock %}	
<!-- End Site Title
================================================== -->

	<!-- Begin Featured
	================================================== -->
		
	{% block mensajeria %}
	<form action="{% url 'register'  %}" method="POST"> {% csrf_token %}

		<table>
				
			{{ form.as_table }}
				
		</table>
				
		<input type="submit" value="CREAR USUARIO">
				
				
		</form>
		{% endblock %}	
		


</div>

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<!-- <script src="static/assets/js/bootstrap.min.js"></script> -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- <script src="static/assets/js/ie10-viewport-bug-workaround.js"></script> -->
<script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>
