{% extends "padre.html" %}

{% load static %}

<!-- End Nav
================================================== -->

<!-- Begin Site Title
================================================== -->
{% block descripcion %}
<div class="container">
	<div class="mainheading">
		<!-- TODO: bloque variable -->
		<h1 class="sitetitle">Envio de mensaje</h1>
		<p class="lead">
			 
		</p>
	</div>
	
{% endblock %}
		<!-- TODO: bloque variable -->
<!-- End Site Title
================================================== -->

	<!-- Begin Featured
	================================================== -->
	{% block mensaje %}
	<div class="section-title">
		<h2><span>{{ mensaje }}</span></h2>
	</div> 

{% endblock %}
		
{% block mensajeria %}


	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
				<hr class="my-4" /> 
				<div class="post-preview"> 
					<form action="formMensajes" method="POST"> {% csrf_token %}
						<table>
							{{ form.as_table }}
						</table>
						<br>
						<input type="submit" class="btn btn-primary btn-block" value="Enviar">
					</form>
					<br>
				</div>
			</div>
		</div>
	</div> 


{% endblock %}		
	<!-- Begin Footer
	================================================== -->
	<div class="footer">
		<p class="pull-left">
			 Copyright &copy; 2022 Argentina Campeón
		</p>

		<div class="clearfix">
		</div>
	</div>
	<!-- End Footer
	================================================== -->

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="static/assets/js/jquery.min.js"></script> -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<!-- <script src="static/assets/js/bootstrap.min.js"></script> -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- <script src="static/assets/js/ie10-viewport-bug-workaround.js"></script> -->
<script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>
